header{
  background-image: url("../images/backgrounds/h_img.jpg");
  height: 800px;
  width: auto;
  text-align: center;
  align-items: center;
  letter-spacing: none;
  /* background-size: 100%,100%; */
  background-size: cover;
  color: white;
}

header>h1{
  font-size: 40px;
  font-weight: 800px;
  padding-bottom: 20px;
  line-height: 1.5;
}

header>a>.mouse{
  margin: 130px;
}

header>img{
  margin-top: 290px
}

