header{
  background-image: url("../images/backgrounds/h_img.jpg");
  height: 800px;
  width: auto;
  text-align: center;
  align-items: center;
  letter-spacing: none;
  /* background-size: 100%,100%; */
  background-size: cover;
  color: white;
}

header>h1{
  font-size: 40px;
  font-weight: 800px;
  padding-bottom: 20px;
  line-height: 1.5;
}

header>a>.mouse{
  margin: 130px;
}

header>img{
  margin-top: 290px
}
.about{
  text-align: center;
}

.about>h3{
  margin-top: 40px;
}

.about>p{
  font-size: 15px;
  line-height: 1.8;
}

.services{
  background-image: url("../images/backgrounds/s_image.jpg");
  text-align: center;
  color: white;
  height: 300px;
  width: auto;
}

.services>h3{
  padding-top: 80px;
}
.services>p{
  font-size: 16px;
  line-height: 1.8;
}
.acts{
  margin: 130px 130px 0px;
}

.des_hide, .dev_hide, .product_hide{
  display: none;
  margin: 20px;
}
h3{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px; 
  padding-top: 20px;
}
h4{
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.wrk{
  position: relative;
  text-align: center;
}


article>.row>.col-md-4>img{
  padding-top: 10px
  ;
}

.contacts{
  background-image: url("../images/backgrounds/c_image.jpg");
  width: 100%;
  color: white;
  height: 500px;
  
}
.col-md-3{
  padding: 10px;
}
.portfolio>.top{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.end{
  display: flex;
  justify-content: center;
}
input{
  width: 400px;
  margin: 10px;
  background: transparent;
}
textarea{
  width: 100%;
  background: transparent;
}

::placeholder{
  color: white;
}
footer>div{
  display: flex;
  justify-content: center;
  padding: 20px;
}

footer>div>img{
  padding: 20px;
}
.ft-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
